@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

#imageContainer,
#debugContainer {
  padding: 1em;
  box-sizing: border-box;
}

.column {
  width: 48%;
  margin: .5%;
  border: 1px solid #000;
  vertical-align: top;

  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

#imageContainer {
  img {
    width: 100%;
  }
}

#debugContainer {
  p {
    margin: 0;
    padding: 0;
  }
}

.scale-container {
  margin: .5em 0 .5em .2em;
  display: flex;
}
.scale-btn {
  margin-left: .4em;
}
.scale-input {
  width: 18em;
}
#importList {
  width: 180px;
}
#canvas-container {
  position: absolute;
}
#editorCanvas {
  position: relative;
}

